<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Movies3.Properties.Settings.MoviesDSED02AssessConnectionString"
            connectionString="Data Source=LAPTOP-Q2KFF8I0\SQLEXPRESS;Initial Catalog=MoviesDSED02Assess;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>